
.vs/RegistroDeTemperaturas/FileContentIndex/101e66d0-b3e6-4dde-80f4-cdb4412d6967.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/251ea5f3-3db5-4e89-9a58-2a885cea4411.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/6506264b-aaa0-41a6-92f8-1fa5295e7cc7.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/ba777af5-5b4e-42dd-8351-aee50d6841d6.vsidx
.vs/temperaturaLocalidad/DesignTimeBuild/.dtbcache.v2
.vs/temperaturaLocalidad/FileContentIndex/aaac9142-1dc9-44a0-8a6c-879f317f50fa.vsidx
.vs/temperaturaLocalidad/FileContentIndex/read.lock
.vs/temperaturaLocalidad/v17/.futdcache.v2
.vs/temperaturaLocalidad/v17/.suo
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/temperaturaLocalidad.AssemblyInfo.cs
obj/Debug/net6.0-windows/temperaturaLocalidad.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.assets.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/temperaturaLocalidad.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
obj/temperaturaLocalidad.csproj.nuget.dgspec.json
obj/temperaturaLocalidad.csproj.nuget.g.props
obj/temperaturaLocalidad.csproj.nuget.g.targets
temperaturaLocalidad.csproj.user
