temperaturaLocalidad.csproj.user
temperaturaLocalidad.sln
.vs/ProjectEvaluation/temperaturalocalidad.metadata.v5.2
.vs/ProjectEvaluation/temperaturalocalidad.projects.v5.2
.vs/RegistroDeTemperaturas/FileContentIndex/016f646f-323b-4c1e-b605-05ddfbbda85a.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/45ec0827-d197-40df-bec0-2cadaeb6ec9c.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/669001bf-798b-4498-abf1-1efbbac5375b.vsidx
.vs/RegistroDeTemperaturas/FileContentIndex/b101ce17-029d-4e16-87ba-2b94a334ad8d.vsidx
.vs/temperaturaLocalidad/DesignTimeBuild/.dtbcache.v2
.vs/temperaturaLocalidad/FileContentIndex/5f81f9c1-2fcb-44f5-9ed1-1cda45b2dae7.vsidx
.vs/temperaturaLocalidad/FileContentIndex/7156e105-f2c7-40e3-9ed2-013dc9ed3cd2.vsidx
.vs/temperaturaLocalidad/FileContentIndex/71d07e85-4d21-441b-9aed-96d96a98d5b0.vsidx
.vs/temperaturaLocalidad/FileContentIndex/a15ecc7d-7384-493e-b216-8c503163c6c5.vsidx
.vs/temperaturaLocalidad/FileContentIndex/read.lock
.vs/temperaturaLocalidad/v17/.futdcache.v2
.vs/temperaturaLocalidad/v17/.suo
obj/project.assets.json
obj/project.nuget.cache
obj/temperaturaLocalidad.csproj.nuget.dgspec.json
obj/temperaturaLocalidad.csproj.nuget.g.props
obj/temperaturaLocalidad.csproj.nuget.g.targets
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/temperaturaLocalidad.AssemblyInfo.cs
obj/Debug/net6.0-windows/temperaturaLocalidad.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.assets.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/temperaturaLocalidad.designer.deps.json
obj/Debug/net6.0-windows/temperaturaLocalidad.designer.runtimeconfig.json
obj/Debug/net6.0-windows/temperaturaLocalidad.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/temperaturaLocalidad.GlobalUsings.g.cs
